nav {
  font-size: 35px;
  background-color: rgb(94, 94, 94);
  text-align: center;
  color: white;
  font-weight: bold;
}

.form-inline {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0
}

.column1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100vh;
  background-color: rgb(202, 202, 202);
  padding: 10px;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cityDisplay {
  padding: 30px;
  border: 1px solid black;
  margin: 20px;
}

.forecast {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
}

.card {
  margin: 5px;
}

.list-group-item {
  cursor: pointer;
}